@model IOrderedEnumerable<App.MVC.ViewModels.Relatorios.RelServicoRanking>


@{
    Layout = "../Shared/_LayoutImpressao.cshtml";
}

@if (Model.Any())
{
    <table style="width: 100%">
        <tr align="center">
            <td>
                <h3>Serviços mais utilizados</h3>
            </td>
        </tr>
    </table>

    <table class="table table-striped">
        <tr>
            <th>Serviço</th>
            <th class="text-center">Qtd</th>
            <th class="text-right">Valor</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.NomeServico)</td>
                <td class="text-center text-nowrap">@Html.DisplayFor(modelitem => item.Quantidade)</td>
                <td class="text-right">@Html.DisplayFor(modelitem => item.Valor)</td>
            </tr>
        }
    </table>
}
else
{
    <table style="width: 100%">
        <tr align="center">
            <td>
                <h3>Não foram prestados serviços no período selecionado</h3>
            </td>
        </tr>
    </table>
}