@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
@Styles.Render("~/Content/bootstrap-material-datetimepicker")
@Scripts.Render("~/bundles/bootstrap-material-datetimepicker")

<div class="page-content">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-blue-sharp bold uppercase">Fechamento de caixa</span>
                <span class="caption-helper">Relatório que o mostra o fechamento de caixa</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                @using (Html.BeginForm("Fechamento", "Relatorio", FormMethod.Post, new { target = "_blank" }))
                {
                    <div class="col-md-2 col-xs-4">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <label style="font: 'Open Sans', sans-serif 14px; color: #9c9999">Data</label>
                            @Html.TextBox("data", Convert.ToDateTime(Session["fech_dt"]).ToString("dd/MM/yyyy"), new { @class = "form-control datepicker" })

                        </div>
                    </div>
                    <div class="col-xs-10 col-md-10 text-left">
                        <br/>
                        <br />
                        <input type="submit" value="Gerar Relatório" class="btn blue" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Relatorios")